{% extends 'ladder/base_ladder.html' %}
{% load staticfiles %}

{%block ladder_menu_doubles %}<li><a href="/ladder/doubles" class="active">Doubles Ladder</a></li>{% endblock%}
{%block ladder_title %} Doubles Rankings {% endblock %}
{%block ladder_content_block %}    

<div class="container clearfix mb-20">
  <p>Rankings and stats are updated once every 24 hours.</p>
  <div class="row">
    <div class="c4">
      <h2><span> Men </span></h2>
      {% if teamlist_men %}
      <table cellspacing="10">
	<tr>
	  <td><b>Rank</b></td> <td><b>Andrew ID</b></td> <td><b>Played</b></td> <td><b>Won</b></td> <td><b>Win%</b></td>
	</tr>
	{% for team in teamlist_men %}
	<tr>
	  <td>{{forloop.counter}})</td><td>{{team.player1.user.first_name}}/{{team.player2.user.first_name}}</td>
	  <td>{{team.matchstats.numplayed}}</td><td>{{team.matchstats.numwon}}</td>
	  <td>{{team.matchstats.percentwon}}</td>
	</tr>
	{% endfor %}
	{% else %}
	<p>No men's matches have been played </p>
	{% endif %}
      </table>
    </div>
    <div class="c4">
      <h2><span> Women </span></h2>
      {% if teamlist_women %}
      <table cellspacing="10">
	<tr>
	  <td><b>Rank</b></td> <td><b>Andrew ID</b></td> <td><b>Played</b></td> <td><b>Won</b></td> <td><b>Win%</b></td>
	</tr>
	{% for team in teamlist_women %}
	<tr>
	  <td>{{forloop.counter}})</td><td>{{team.player1.user.first_name}}/{{team.player2.user.first_name}}</td>
	  <td>{{team.matchstats.numplayed}}</td><td>{{team.matchstats.numwon}}</td>
	  <td>{{team.matchstats.percentwon}}</td>
	</tr>
	{% endfor %}
     	{% else %}
	<p>No women's matches have been played </p>
	{% endif %}
      </table>
    </div>
    <div class="c4">
      <h2><span> Mixed </span></h2>
      {% if teamlist_mixed %}
      <table cellspacing="10">
	<tr>
	  <td><b>Rank</b></td> <td><b>Andrew ID</b></td> <td><b>Played</b></td> <td><b>Won</b></td> <td><b>Win%</b></td>
	</tr>
	{% for team in teamlist_mixed %}
	<tr>
	  <td>{{forloop.counter}})</td><td>{{team.player1.user.first_name}}/{{team.player2.user.first_name}}</td>
	  <td>{{team.matchstats.numplayed}}</td><td>{{team.matchstats.numwon}}</td>
	  <td>{{team.matchstats.percentwon}}</td>
	</tr>
	{% endfor %}
     	{% else %}
	<p>No mixed matches have been played </p>
	{% endif %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
