{% extends 'ladder/base_ladder.html' %}
{% load staticfiles %}

{%block ladder_menu_history %}<li><a href="/ladder/history" class="active">Ladder History</a></li>{% endblock%}
{%block ladder_title %} Match History {% endblock %}
{%block ladder_content_block %}    
<div class="container clearfix mb-20">
<h2>{{msg}}</h2>
List of all matches played so far.
{% if matchlist %}
    <table cellspacing="30" align="center">
      <tr> <td><b>Date Played</b></td> <td><b>Format</b></td>  <td><b>Player/Team 1</b></td>  <td><b>Score</b></td> <td><b>Player/Team 2</b></td>  
      </tr>
      {% for match in matchlist %}
      <tr>
	<td>{{match.matchdate}}</td> <td>{{match.matchtype}}</td> <td>{{match.winner1.user.first_name}} {{match.winner2.user.first_name}}</td><td>{{match.winner_setscore}}-{{match.loser_setscore}}</td> <td>{{match.loser1.user.first_name}} {{match.loser2.user.first_name}}</td> 
      </tr>
      {% endfor %}
    </table>
</ul>
{% else %}
<p>No matches have been played. </p>
{%endif %}
<br>
</div>
{% endblock %}
