{% extends 'ladder/base_ladder.html' %}
{% load staticfiles %}

{%block ladder_menu_record %}<li><a href="/ladder/record" class="active">Record Match</a></li>{% endblock%}
{%block ladder_title %} Record Match {% endblock %}
{%block ladder_content_block %}    
<div class="container clearfix mb-20">
  <h3><span> {{error}}</span> </h3>
  <b> Rules: </b> <br>
  Only matches played during club practice will count towards the ladder.<br>
  Ladder matches are all 6 game no-ad sets. A regular tie-break (first to 7, win by 2) is played at 5-5.  
  <form action="{% url 'ladder:recorded' %}" method="post">
    {% csrf_token %}
    {{form}}
    <h2> <span> Login information </span></h2>
    <table>
      <tr>
	<td align="right"> Username : <input type=text name = "username"></td>
      </tr>
      <tr>
	<td align="right"> Password  : <input type=password name = "password"><br></td>
      </tr>
    </table>
    <h2> <span> Match Type </span></h2>
    <input type="radio" name="matchtype"  value="singles"> Singles <br>
    <input type="radio" name="matchtype"  value="doubles"> Doubles <br>
    
    <h2><span> Date Played</span></h2>
    <input type="date"  name ="matchdate"><br>
    
    <h2><span> Team 1 </span></h2> 
    Player 1
    <select name="team1id1">
      {% for player in playerlist %}
      <option value={{player.user.username}}>{{player.user.first_name}}</option>
      {% endfor %}
    </select>
    Player 2
    <select name="team1id2">
      <option value="">None</option>
      {% for player in playerlist %}
      <option value={{player.user.username}}>{{player.user.first_name}}</option>
      {% endfor %}
    </select>
    Set Score <input type=number name = "team1_setscore"> <br>
    <h2><span> Team 2 </span></h2>
    Player 1 
    <select name="team2id1">
      {% for player in playerlist %}
      <option value={{player.user.username}}>{{player.user.first_name}}</option>
      {% endfor %}
    </select>
    Player 2
    <select name="team2id2">
      <option value=''>None</option>
      {% for player in playerlist %}
      <option value={{player.user.username}}>{{player.user.first_name}}</option>
      {% endfor %}
    </select>
    Set Score <input type=number name = "team2_setscore"><br>
    <br>
    <input type="Submit" value="Submit"/>
    <br><br>
  </form>
</div>
{% endblock %}

