{% extends 'ladder/base_ladder.html' %}
{% load staticfiles %}

{%block ladder_menu_singles %}<li><a href="/ladder/singles" class="active">Singles Ladder</a></li>{% endblock%}
{%block ladder_content_block %}    
<div class="container clearfix mb-20">
 <p>Singles Points are calculated using a 7-point version of the scoring system described <a href="http://www.tennisengine.com/info/ranksys_9.asp"> here </a>. </p>
  <p>Rankings and stats are updated once every 24 hours.</p>
  <div class="row">
    <div class="c6">
      <h2><span> Men </span></h2>
      {% if playerlist_men %}
      <table cellspacing="20">
	<tr>
	  <td><b>Rank</b></td> <td><b>Name</b></td> <td><b>Points</b></td> <td><b>Played</b></td> <td><b>Won</b></td> <td><b>Win%</b></td>
	</tr>
	{% for player in playerlist_men %}
	<tr>
	  <td>{{forloop.counter}})</td><td>{{player.user.first_name}}</td> <td>{{player.matchstats.score}} </td>
	  <td>{{player.matchstats.numplayed}}</td><td>{{player.matchstats.numwon}}</td>
	  <td>{{player.matchstats.percentwon}}</td>
	</tr>
	{% endfor %}
	{% else %}
	<p>No men's matches have been played </p>
	{% endif %}
      </table>
    </div>
    <div class="c6">
      <h2><span> Women </span></h2>
      {% if playerlist_women %}
      <table cellspacing="20">
	<td><b>Rank</b></td> <td><b>Name</b></td> <td><b>Points</b></td> <td><b>Played</b></td> <td><b>Won</b></td> <td><b>Win%</b></td>
	{% for player in playerlist_women %}
	<tr>
	  <td>{{forloop.counter}})</td><td>{{player.user.first_name}}</td> <td>{{player.matchstats.score}} </td>
	  <td>{{player.matchstats.numplayed}}</td><td>{{player.matchstats.numwon}}</td>
	  <td>{{player.matchstats.percentwon}}</td>
	</tr>
	{% endfor %}
	{% else %}
	<p>No women's matches have been played </p>
	{% endif %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
