{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} CMU Tennis Club: FAQ {% endblock %}
{%block menu_faq %}<li><a href="/faq" class="active">FAQ</a></li>{% endblock %}

{%block content_block %} 
 <div class="container clearfix mt-100 mb-20"> 
      <div class="c12 row">
	<h2><span> Frequently Asked Questions </span></h2>
	<p><h3>How is the team selected?</h3>
	New team members are selected via a tryout tournament. Fall 2014 tryouts will be held on September 6 and 7 at 4pm. Sign up <a href="https://docs.google.com/forms/d/1td7h_GNg8o0xs2Reva3UO76bpxJJoZLUdXE9AWot3Lk/viewform">here</a>!
	</p>
	<p> <h3>How many people are accepted on the team?</h3>
	While we will always be open to consider talented and committed players, we will aim to have a total team size of no more than 20 players (men and women combined).   
	</p>
	<p> <h3> How much time will being on the team take? </h3>
	Team practices are held at the CMU courts thrice a week - on Wednesday, Saturday and Sunday evenings. (Stay tuned for more details!) Each practice is 2 hours long. While we understand the rigors of being a CMU student and will accomodate your conflicts,  we do expect members to show up regularly at practice. Tournaments and scrimmages are always held on weekends and will not conflict with class schedules. 
	</p>
	<p> <h3> When and where are practices held? </h3>
	  The club has exclusive access to CMU's tennis courts during both Fall and Spring semesters. During the winter months, we usually get access to an indoor facility that is nearby. The official practice schedule will be up soon.
	</p>
	<p> <h3> What do you do during practice? </h3>
	  The purpose of practice is to have fun while working to build a more solid team of singles and doubles players. Practices will consist of drills to improve various facets of the game, as well as match play. Practice matches count towards your ranking on our internal ladder, which in turn helps us determine the players that get to travel.
	</p>
	<p> <h3> How much will membership cost me? </h3>
	  Each club member will pay a nominal membership fee of $10 that goes towards tournament expenses. Players are solely responsible for food, drink and personal necessities during tournaments. Travel and living expenses will be largely (if not wholly) covered by the club. The club will also provide balls during practice.
	</p>
      </div>   
 
 </div><!-- /.container -->


    </div><!-- /.container -->
{% endblock %}
