{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} CMU Tennis Club: About {% endblock %}

{%block menu_about %}<li><a href="/about" class="active">About Us</a></li>{% endblock %}


{% block content_block %}
<div class="container clearfix mt-100 mb-20"> 
  <h2><span> About us </span></h2>
  <div class="c12 row" >
    <p> CMU Club Tennis is part of Carnegie Mellon's Club Sports program. We are a student run organization whose primary aim is to represent Carnegie Mellon University at competitive tennis events. We are part of USTA's Tennis on Campus Program, and we play in the Middle States section championships each Fall. We also compete with local teams including the University of Pittsburgh, Duquesne University and Slippery Rock University throughout the year, through invitational tournaments and scrimmages. We hold weekly practices to prepare for these competitions.  </p>
  </div>
  <div class="c12 row ta-c">
    <p> <img height="400px" src="{%static "images/scrimmage.jpg"%}"> </p>
  </div>
  <div class="c12 row">
    <p>  Although we believe that there is no better way to take a break from CMU's demanding workload than playing tennis, our fun extends beyond the court as well! Our players hail from diverse backgrounds, but are united by our common love for tennis. Whether we are following sports together or just meeting for dinner, we are a close knit group of friends that love to have fun together. Club members find that friendships they form in the club often last longer than their time at CMU.  
  </div>
</div>   

</div><!-- /.container -->

{% endblock %}
