{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} CMU Tennis Club: Contact Us {% endblock %}
{%block menu_contact %}<li><a href="/contact" class="active">Contact Us</a></li>{% endblock %}

{%block content_block %}   
<div class="container clearfix mt-100 mb-20">
  <div class="c12 row">
    <h2><span>Contact Us</span></h2>
    <p> Interested in joining CMU Club Tennis? Want more information about the club, or have any more questions? </p> 
    <p> Shoot us an email at [karthikl] or [kmckeoug] @andrew.cmu.edu. </p>
    
    Like our <a href="https://www.facebook.com/groups/271162382911464/">Facebook page </a>!
  </div>
</div>   
</div><!-- /.container -->
</div><!-- /.container -->

{% endblock %}
